<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 메일 리스트</title>
</head>
<body>
	<h1>메일 리스트에 가입되었습니다.</h1>
	<p>입력한 정보 내역입니다.</p>

	{% for emaillist in emaillist_list %}
	<table border="1" cellpadding="5" cellspacing="2">
		<tr>
			<td align=right>First name: </td>
			<td>{{ emaillist.first_name }}</td>
		</tr>
		<tr>
			<td align="right" width="110">Last name: </td>
			<td width="110">{{ emaillist.last_name }}</td>
		</tr>
		<tr>
			<td align=right>Email address: </td>
			<td>{{ emaillist.email }}</td>
		</tr>
	</table>
	<br>
	{% endfor %}
	<p>
		<a href="/emaillist/form">추가메일 등록</a>
	</p>
	<br>
</body>
</html>